<html id="indexpage">
  <head>
    <meta charset="utf-8">
    <title>吟香小吃鋪_外帶預定</title>
  </head>

  <body id="indexpage">
    <div class="title">
      <div class="master_title">
        <p>-吟香小吃鋪-</p>
      </div>
      <div class="slave_title">
        <p>吃過的人，都說香</p>
      </div>
      <div class="book_button">
        <%= link_to("菜單預覽", menu_path, data:{ turbolinks: "false" }) %>
      </div>
    </div>
  </body>
</html>
