<!DOCTYPE html>
<html id="newpage">
  <head>
    <meta charset="utf-8">
    <title>新增留言</title>
  </head>
  <body id="newpage">
    <div class="new_block">
      <%= render "form", post: @post %>
    </div>
  </body>
</html>
