@charset "utf-8";

/*---------------------------*/
/* 引用思源中文                */
/*---------------------------*/
@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);


/*---------------------------*/
/* 定義網頁                   */
/*---------------------------*/
html#menupage, body#menupage{

    /*設定思源中文*/
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: bold;
    background-image: url(page2_bg.jpg);
    background-size:cover;
		background-attachment:fixed;
    margin:0;
}

div.clear{
	clear: both;
}

/*---------------------------*/
/* 定義標題                   */
/*---------------------------*/
.navbar{
  z-index: 50;
}

div.header{
    width:100%;
    min-width:800px;
    height:70px;
    background:rgba(83, 83, 83,0.7);
    text-align:center;
    position:fixed;
    z-index:20;
    box-shadow:0px 1px 3px 1px #000;
		margin-top:-80px;
}

.content{
	background-image: url(menu2.png);
	height: 500px;
	max-width: 870px;
	min-width: 870px;

	box-shadow: 8px 8px 30px 3px #000;
	margin-top: 50px;
	margin-left: 400px;
  position:relative;
  top:0px;
	color: #484848;

	z-index: 5;

}
.content h1{

	padding-top: 30px;
	margin-bottom: 10px;
	margin-top: 60px;
	text-align: center;
	padding-left: 3px;
	font-weight: 400;
	font-size: 50px;

}


.menutable {
	margin-left: 50px;
	margin-right: 50px;
	height: 280px;
	margin-bottom: 40px;
	position:relative;
	overflow-y: auto;

	z-index: 6;
}

.content table{
	position:relative;
	margin-bottom: 40px;
	margin-left: 50px;
	font-size: 14px;
	font-weight: 300;
	color: #686868;

}

.menutable td{

	height: 30px;
	font-size: 18px;
}

.menutable tr td:nth-child(1){
	width: 230px;

	padding-left: 5px;
}

.menutable tr td:nth-child(2){

	text-align: right;
	padding-right: 5px;
}



.menutable h5{

	font-size: 18px;
	margin-top: 5px;
	margin-left: 40px;
	margin-bottom: 5px;
	padding-left: 8px;
	font-weight: 400;
	border-left: solid #686868 3px;
}

table#part3{

	float: right;
	margin-top: -370px;
	margin-right: 120px;
}
h5#name3{
	margin-right: 360px;
	float: right;
	margin-top: -400px;

}

table#part4{
	float: right;
	margin-top: -100px;
	margin-right: 120px;
}
h5#name4{
	margin-right: 360px;
	margin-top: -130px;
	float: right;
}

/*------裝飾左邊---------------------*/

div.contentleft{

	margin-top: 20px;
	margin-left: 60px;
	width: 250px;
	float: left;

}

div.contentleft img#food01{
	margin-top: 0px;
	margin-left: 50px;
	width: 180px;
	height: 160px;
	box-shadow: 0px 0px 20px 7px #311D19;
	border-radius: 100px;
	position:fixed;

}
div.contentleft img#food02{

	margin-top: 200px;
	width: 190px;
	height: 170px;
	box-shadow: 0px 0px 20px 7px #311D19;
	border-radius: 100px;
	position:fixed;

}
div.contentleft img#food03{
	margin-left: 60px;
	margin-top: 400px;
	width: 180px;
	height: 160px;
	box-shadow: 0px 0px 50px 7px #311D19;
	border-radius: 100px;
	position:fixed;

}

/*---------裝飾右上------------------*/


div.contentright{

	position:fixed;
  right: 0;
	margin-top: -220px;
	z-index: 10;
}

/*---------go_comment_button------------------*/

.go_comment_button{
  width: 220px;
  margin: 100px auto 0px auto;
  border: 3px dashed white;
  border-radius: 25px;
  background-color: rgba(66, 52, 34, 0.4);
  text-align: center;
  font-size: 30px;
  text-shadow: 1px 1px 2px black;
  color: white;
}
